$black: #000;
$white: #fff;
$gray: #555;

$primaryBackground: #161512;
$secondaryBackground: #272520;

$primaryText: #8b8581;
$secondaryText: #E0D6CF;

$primary: #8aa953;
$secondary: #1F6BA0;
$link: darken(#8aa953, 10%);

$blueBackground: #0e3352;
$blueColor: #2d9aec;

$redBackground: #59210d;
$redColor: #d44a30;