@import 'variables.scss';
@import 'spinner.scss';

html, body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: $primaryBackground;
  color: $primaryText;
  background: $primaryBackground;
  padding: 0px;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: all .4s cubic-bezier(.25,.8,.25,1)
}
