@import '_variables.scss';

html, body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: $primaryBackground;
  color: $primaryText;
  background: $primaryBackground;
  padding: 0px;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
  transition: all .4s cubic-bezier(.25,.8,.25,1)
}

a {
  color: $link;
}

input {
  border: 0px;
}

// Simple grid
.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 -8px;
  @media screen and (max-width: 1024px) {
    margin: -8px -8px;
  }
}
.col {
  flex-basis: 100%;
  flex: 1;
  padding: 0 8px;
  @media screen and (max-width: 1024px) {
    flex: auto;
    padding: 8px 8px;
  }
}