$black: #000;
$white: #fff;

$primaryBackground: #161512;
$secondaryBackground: #272520;

$primaryText: #77726F;
$secondaryText: #E0D6CF;

$primary: #8aa953;
$secondary: #1F6BA0;
$link: darken(#8aa953, 10%);
